.navbar{
display:flex;
justify-content:space-between;
align-items:center;
padding:15px;
background-color:#1877f2;
color:white;
}

ul{
display:flex;
list-style:none;
}

li{
margin:0 15px;
cursor:pointer;
}